.header-container{
    display: flex;

    justify-content: space-between;

    align-items: center;
    padding: 30px;
    background-color: #333;

}


.logo-title{
    display: flex;
    align-items: center;

}

.logo{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 100px;
}
.title{
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li{
    margin-right: 20px;
    margin-top: 25px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;

}

.nav-links a:hover{
    color: rgb(198, 75, 198);
}

.user-profile{

    width: 50px;
    height: 50px;
    border-radius: 100px;

}

.logout-button{
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(232, 167, 232);
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 20px;
}

.logout-button:hover{
    background-color: green;

}

.contact{
    margin-right: 160px;
}